body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
header{
    padding: 20px;
    background: #e5d3dc;
}
main{
    padding: 15px 0;
}
footer{
    padding: 40px 0;
    background: #e5e5e5;
}

.no-auth-img{
    margin: 30px auto;
    width: 300px;
    display: block;
}
